* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Explora', cursive;
    font-family: 'Sofia Sans Semi Condensed', sans-serif;
    font-weight: bold;
}

#map {
    width: 100%;
    height: 100vh;
}

#logout {
    border: 1px solid white;
    padding: 16px;
    background-color: rgba(123, 152, 188, 0.93);
    position: fixed;
    top: 10px;
    left: 50px;
    color: white;
    text-decoration: none;
    z-index: 1;
}

#logout:hover {
    background-color: #4a74a8;
}

.address{
    padding: 10px;
    position: fixed;
    bottom:10px;
    left: 10px;
    width:200px;
    height:100px;
    text-align: center;
    align-items: center;
    background-color: rgba(123, 152, 188, 0.93);
    color:white;
    font-size: .9rem;
    border: 1px solid white;
}

.address:hover {
    background-color: #4a74a8;
}

#information {
    position: fixed;
    bottom: 10px;
    left: 230px;
    width: 500px;
    height: 100px;
    background-color: rgba(123, 152, 188, 0.93);
    border: 1px solid white;
    display: flex;
    align-items: center;
    justify-content: center;
}

#information:hover {
    background-color: #4a74a8;
}

#information iframe {
    width: 100%;
    height: 90px;
}

#identify {
    width: 100%;
    text-align: center;
}

#identify, td, th{
    border: 1px solid white;
    border-collapse: collapse;
    padding: 15px;
}

#identify {
    color: white;
}



